#root {
  /*text-align: center;*/
}
.meep {
    width: auto;
}
.bigbutton {
    width: "400px";
}

div.top-button {
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
}
div.iframe {
    position:relative;
    top: 0; /*[wherever you want it]*/
    left:0; /*[wherever you want it]*/
    vertical-align: middle
}
